{% extends 'layout.html' %}
{% block title %}Registro{% endblock %}

{% block content %}
<!-- Fondo circular con degradado -->
<div class="d-none d-md-block ball register position-absolute rounded-circle"></div>

<div class="container register__form active">
    <div class="row vh-100 w-100 align-self-center">
        <div class="d-none d-lg-block col-lg-6 col-xl-6 p-5">
            <div class="row vh-100 p-5">
                <div class="col align-self-center p-5 text-center">
                    <img src="{{ url_for('static', filename='img/register.png') }}" class="bounce" alt="register image">
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-6 px-5">
            <div class="row vh-100">
                <div class="col align-self-center p-5 w-100">
                    <h3 class="fw-bolder">REGISTRAR NUEVO USUARIO</h3>
                    

                    <form method="POST" class="mt-5">
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                            {{ form.username.label(class="form-label") }}
                            {{ form.username(class="form-control shadow-sm bg-light border-0 rounded-pill fw-lighter fs-7 p-3") }}
                        </div>

                        <div class="mb-3">
                            {{ form.password.label(class="form-label") }}
                            <div class="d-flex position-relative">
                                {{ form.password(class="form-control auth__password shadow-sm bg-light border-0 rounded-pill fw-lighter fs-7 p-3", id="password1") }}
                                <span class="password__icon text-primary fs-4 fw-bold bi bi-eye-slash"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form.confirm_password.label(class="form-label") }}
                            <div class="d-flex position-relative">
                                {{ form.confirm_password(class="form-control auth__password shadow-sm bg-light border-0 rounded-pill fw-lighter fs-7 p-3", id="password2") }}
                                <span class="password__icon text-primary fs-4 fw-bold bi bi-eye-slash"></span>
                            </div>
                        </div>

                        <div class="col text-center">
                            {{ form.submit(class="btn btn-outline-dark btn-lg rounded-pill mt-4 w-100") }}
                        </div>
                    </form>
                    <div class="text-center mt-3">
                         <a href="{{ url_for('booking.index') }}" class="btn btn-secondary rounded-pill">← Volver al inicio</a>
                    </div>

                    <p class="mt-5 text-center">Nuestras Redes</p>
                    <div class="row text-center">
                        <div class="col mt-3">
                            <a href="#" class="btn btn-outline-dark border-2 rounded-circle"><i class="bi bi-facebook fs-5"></i></a>
                        </div>
                        <div class="col mt-3">
                            <a href="#" class="btn btn-outline-dark border-2 rounded-circle"><i class="bi bi-linkedin fs-5"></i></a>
                        </div>
                        <div class="col mt-3">
                            <a href="#" class="btn btn-outline-dark border-2 rounded-circle"><i class="bi bi-twitter fs-5"></i></a>
                        </div>
                        <div class="col my-3">
                            <a href="#" class="btn btn-outline-dark border-2 rounded-circle"><i class="bi bi-google fs-5"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
